*{
    box-sizing: border-box;
}

body{
    padding:20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-image: url("pexels-busranur-aydin-3800407-9991625.jpg");
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.table{
    text-align: left;
}

.questions-and-overall-results{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 100%;
    justify-content: center;

    /* border: 1px solid red; */
    gap: 20px;
}





.over-all-results{
    width: 55%;
    background-color: rgb(255, 255, 255);
    padding: 10px 30px;
    height: 100%;
    color: rgb(75, 71, 71);
    border-radius: 20px;
    /* border: 1px solid red; */
}

.over-all-results>div{
    margin-top: 15px;
}

.over-all-results > h2{
    padding-bottom: 25px;
}


.section-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.questions-and-results{
    width: 45%;
    /* border: 1px solid rgb(20, 112, 148); */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.questions{
    width: 30%;
    border-radius: 20px;
    /* background-color: rgb(236, 235, 218); */
    background-color: rgb(230, 240, 238);

    padding:30px 10px 15px 10px;
    display: flex;
    flex-direction: column;
}


.results{
    width: 70%;
    /* background-color: rgb(236, 235, 218); */
    background-color: rgb(230, 240, 238);
    
    padding:10px;
    border-radius: 20px;
    color: rgb(92, 91, 91);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: start;

    gap: 3vh;
}

.custom-select.selected {
    background-color: #76b2ce; /* Change this to your desired background color */
    border-color: #dbdedf/* Optional: Change the border color to match the background */;
    color: white;
}

.input-group .selected-label {
    background-color:  #76b2ce;
    color: white;
}

.custom-select:focus {
    outline: none;
    box-shadow: none;
}


.PID5-results{
    gap: 1vh;
    text-align: left;
    padding: 10px;
    /* border: 1px solid red; */
    height: 100%;
}

.PID5-results>h5{
    padding: 0 50px;
}

.TRI-head1{
    width: 25%;
}
.TRI-head2{
    width: 15%;
}
.TRI-head3{
    width: 40%;
}
.TRI-head4{
    width: 20%;
}

/* #PID5submitBtn{
    margin-top: auto;
} */

h2,h1,h3{
    text-align: center;
}


.GAD-7-Total, .PHQ-9-Total, .MDQ-Total, .Bipolar-Total{
    text-align: center;
    font-size: 10vh;
}

.MDQ-special{
    width: 30%;
}

.MDQ-special-result{
    width: 70%;
}



.MDQ-questions{
    min-width: 100%;
    transform: rotateX(180deg);
    padding-top: 10px;
}

.MDQ-special{
    /* border: 1px solid red; */
    width: 30%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 10px;
    overscroll-behavior: contain;
    white-space: nowrap;
    transform: rotateX(180deg);
    scroll-behavior: smooth;
}


.bipolar-questions{
    min-width: 100%;
    transform: rotateX(180deg);
    width: 100%;
    padding-top: 10px;
}

.bipolar-special{
    /* border: 1px solid red; */
    width: 30%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 10px;
    overscroll-behavior: contain;
    white-space: nowrap;
    transform: rotateX(180deg);
    scroll-behavior: smooth;
}


.ADHD-questions{
    min-width: 100%;
    transform: rotateX(180deg);
    width: 100%;
    padding-top: 10px;
}

.ADHD-special{
    /* border: 1px solid red; */
    width: 30%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 10px;
    overscroll-behavior: contain;
    white-space: nowrap;
    transform: rotateX(180deg);
    scroll-behavior: smooth;
}


.ADHD-questions h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}



.BAI-questions, .BDI-questions, .EQ-questions, .PID5-questions {
    min-width: 100%;
    transform: rotateX(180deg);
    width: 100%;
    padding-top: 10px;
}

.BAI-special, .BDI-special, .EQ-special, .PID5-special{
    /* border: 1px solid red; */
    width: 30%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 5px;
    padding-bottom: 10px;
    overscroll-behavior: contain;
    white-space: nowrap;
    transform: rotateX(180deg);
    scroll-behavior: smooth;
}

.print-button{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    /* border: 1px solid red; */
    padding: 10px 0;
    
}

.print-button>button{
    width: 20%;
    height: 5vh;
    border: none;
    border-radius: 5px;
    background-color: rgb(74, 158, 179);
    color: white;
}
.print-button>button:hover{
    background-color: rgb(59, 236, 228);
    color: rgb(248, 248, 248);
}


.btn-arrow {
    color: transparent;
    display: block;
    margin: 1.5rem 5rem;
    position: relative;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    background-color: rgba(black, .05);

    transition: all 150ms ease-out;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
            top: 0;
            left: 0;

        background-color: #606060;
        
        transition: all 150ms ease-out;
    }

    &::before {
        width: 75%;
        height: 25%;
    }

    &::after {
        width: 25%;
        height: 75%;
    }

    &:hover, &:focus {
        background-color: rgba(black, .1);
        
        &::before,
        &::after {
            background-color: #404040;
        }
    }

    &.btn-arrow-left,
    &.btn-arrow-right {
        &::before,
        &::after {
            top: 12.5%;
            left: 12.5%;
        }
    }

    &.btn-arrow-left {
        transform: rotate(-45deg);
    }

    &.btn-arrow-right {
        transform: rotate(135deg);
    }
}




.PIDbuttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    /* border: 1px solid red; */
}


















