*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 200vh; 
    padding:20px 10px;
    
    background-image: url("/resource/pexels-taryn-elliott-6405694.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    scroll-behavior: smooth;
    overflow-x: hidden;
    
    color: white !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: 80%;
    height: 100%;
    padding: 30px 10px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    text-align: center;
}


button{
    background-color: #FFB6C1  !important;
    border: none !important;
    
    color: white !important;

    transition: 3.5 ease-in-out !important;
}

button:hover{
    background-color: #f37c9a  !important;
    color: rgb(255, 255, 255) !important;
}

button:focus{
    outline: none !important; 
    box-shadow: none !important;
}

.frosted-glass-table {
    backdrop-filter: blur(8px) !important; 
    -webkit-backdrop-filter: blur(8px) !important; 
    border-collapse: collapse;
    padding: 20px;
    border-radius: 10px;

    color: rgb(255, 255, 255) !important;
    width: 90% !important;
    cursor:default !important;
    margin-top: 3vh !important;
}

.frosted-glass-table th, .frosted-glass-table td {
    padding: 12px;
    text-align: left;
    
}
.frosted-glass-table td{
    cursor: pointer !important;
}

tr:hover{
    color: white !important;
}

.frosted-glass-table th {
    /* background: rgba(255, 255, 255, 0.2) !important;  */

}

.table-name {
    width: 65% !important;
}

.last-edited{
    font-size: 1.3vh !important;
    font-style: italic !important;
}


.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 35px;
    height: 22vh;
    margin-top: 12.5vh;

    border-radius: 0 20px 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-left: none;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    color: #fff;

    transition: width 0.1s ease;
}

.menu-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 10px;
    
}

.menu-container a{
    width: 100%;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    height: 6vh;
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
}

.menu-item:hover {
    background-color: #e1aeba;
}

.burger-icon-container {
    margin: 10px 4px 0 0;
}

.sidebar.expanded {
    width: 120px;
}

.sidebar.expanded .menu-container {
    display: flex;
}

#burger-icon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.sidebar.expanded {
    width: 120px;
    background-color: #FFB6C1;
    color: white;
}

.sidebar.expanded .menu-item:hover {
    background-color: #f37c9a;
}

a{
    text-decoration: none !important;
    color: white !important;
}

#preloader {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; 

    width: 100%;
    height: 100%;

    background: #ead7d7; 
    opacity: 1;

    transition: opacity 0.8s ease-out; 
}

.spinner {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #dd7ea2;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#content {
    display: none; /* Initially hidden */
}